/.github/
/.vscode/
/.eslintrc.json
/.prettierrc.json
/.gitignore
/.npmignore
/.prettierignore
/.env
/eslint.config.mjs
/nodemon.json
/tsconfig.json
/src/
/cmd/
/docs/
/downloads/
/reports/
/apps/
/samples/
/defaults/

