# This workflow will deploy to S3 with static site in place
name: Deploy Defaults

on:
    workflow_dispatch:

jobs:
    deploy-s3:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        strategy:
            matrix:
                node-version: [20.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET }}
                  aws-region: eu-west-1

            - name: Deploy to S3"
              env:
                  AWS_S3: ${{ secrets.AWS_S3 }}
              run: |
                  aws s3 sync ./defaults/ s3://$AWS_S3/mobile-defaults --exclude "*" --include "*.yml" --content-type "application/yml"
